                    <hr class="hr-line">
                  <h3 class="title">
                        {% if site.youtube %}<a class="social-btn" style="font-size:30px;" href="https://www.youtube.com/watch?v=y1HkzLVTyY0" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube-square"></i></a> <p style="display:inline;font-weight:normal;font-family:arial;font-size:14px;"> Holy Matrimony at 13:00 [GMT+7] </p> {% endif %}
                  </h3>
                  <h3 class="title">
                        {% if site.zoom %}<a class="social-btn" style="font-size:30px;" href="https://us05web.zoom.us/j/4239166745?pwd=N1lCSGZPOXZna1c2eTV4SjJ6a0FmQT09" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-video-camera"></i></a> <p style="display:inline;font-weight:normal;font-family:arial;font-size:14px;"> Wedding Ceremony at 18:00 [GMT+7] </p>{% endif %}
                  </h3>

